/* 

This CSS file is contains the CSS rule sets for 
    - index.html
    - any universal elements that all pages use
    - The CSS for the take-action.html is in take-action.css

COLORS
#F08700 (Tangerine)
#FFFEEB (Ivory)
#00A6A6 (Aqua)
#3D3D3D (Charcoal)
#F49F0A (Lt Orange)

Why isn't it working :(

*/

/************* UNIVERSAL ELEMENTS ***************/

body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #FFFEEB; /* ivory */
}

h1 {
  letter-spacing: 5px;
  font-size: 70px;
  font-family: 'Vidaloka', serif;
  color: #FFFEEB; /* ivory */
  text-align: center;
}

h2 {
  letter-spacing: 3px;
  font-size: 40px;
  font-family: 'Vidaloka', serif;
  color: #3D3D3D; /* Charcoal*/
  text-align: center;
  line-height: 40px;
}

h3 {
    letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Vidaloka', serif;
  color: #3D3D3D; /* Charcoal*/
  text-align: center;
  line-height: 25px;
}

p {
  color: #FFFEEB; /* ivory */
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 25px;
  text-align: center;
    line-height: 25px;
}

.pcolorchange{
    color: #00A6A6; /* Aqua*/
}

a:link, a:visited {
  text-decoration: none;
  font-family: 'Montserrat Alternates', sans-serif;
  color:#3D3D3D; /* Charcoal*/
  font-size: 20px;
  border-radius: 20px;
}
a:hover {
  background-color: #F49F0A; /* Lt Orange*/
  border-radius: 20px;
}

img {
  border-radius: 40px;
  padding:20px;
  background-color: #00A6A6; /* Aqua*/
}


/*************** CSS FOR NAV BAR ****************/
ul.nav-bar {
  /* Styling for the <ul class="nav-bar"> element */
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  background-color: #F08700; /* tangerine */
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
}

li.nav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
}


/*********** CSS FOR FLEXBOX HEADING ************/
.main-text-all {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #00A6A6; /* Aqua*/
  padding: 5px;
  width: 500px;
  position: absolute;
  left: 5%;
  top: 10%;
  border-radius: 40px;
}

.main-intro-text {
  background-color: #FFFEEB; /* ivory */
  padding: 10px;
  margin: 10px;
  letter-spacing: 2px;
  line-height: 1.4em;
    border-radius: 40px;
    color: #00A6A6; /* Aqua*/
}

/*-----------SECTION TWO-----------*/


.text-section-two {
  background-color:  #F08700; /* tangerine */
  padding: 20px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section-two-item {
  display:flex;
  flex-wrap: wrap;
  width: 350px;
  justify-content: center;
  flex-direction:column;
  align-items: center;
}
.definition{
  text-align: left;
}
.section-two-meaning {
  background-color: #00A6A6; /* Aqua*/
  border-radius: 40px;
  padding: 20px;
}
.h2colorchange{
  color: #FFFEEB; /* ivory */
}

/*-----------SECTION THREE-----------*/
.text-section-three {
  background-color:  #F08700; /* tangerine */
  padding: 20px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section-three-item {
  display:flex;
  flex-wrap: wrap;
  width: 600px;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  
}
.warningsigns{
  color: #00A6A6; /* Aqua*/
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 25px;
  background-color:#FFFEEB; /* ivory */
  border-radius: 40px;
  text-align: left;
  margin: 10px;
}

.graph-one {
  background-image: url("images/placeholder%20image.png");
  display:flex;
  justify-content:center;
  align-items: center;
}

/*-----------SECTION FOUR (HOTLINES)-----------*/
.text-section-four {
  background-color:  #F08700; /* tangerine */
  padding: 20px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hotlines{
  color: #00A6A6; /* Aqua*/
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 25px;
  border-radius: 40px;
  text-align: left;
  margin: 10px;
  list-style-image: url("images/phone%20v2.png");
}

.helpitem {
  color:#FFFEEB; /* ivory */
}
#more-hotlines:link,
#more-hotlines:visited
{
  background-color: #00A6A6; /* Aqua*/
  border-radius: 10px;
  padding: 3px;
}
#more-hotlines:hover{
  background-color:#FFFEEB; /* ivory */
  color: #F08700; /* tangerine */
  border-radius: 10px;
}

/*-----------Sources Page-----------*/
.source{
text-indent: -40px;
margin-left: 30px;
text-align: left;

}
.sources {
  margin:60px;
  text-align: left;
}
.source-header{
  color:  #F08700; /* tangerine */
}




/*---------IMAGE STYLING + PARALLAX PROPERTY---------*/

.main-message,
.image-two,
.graph-one{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%; /* This adjusts the height of the image */
  background-attachment: fixed;
}

.main-message {
  background-image: url("images/placeholder%20image.png");
  height: 700px;
}

.image-two {
  background-image: url("images/placeholder%20image.png");
  height:400px;
}


/***** CHANGE INDEX.HTML CSS BASED ON SCREEN SIZE *****/
@media screen and (max-width: 900px) {
  .main-text-all {
    width: 375px;
    position: absolute;
    top: 10%;
    margin:auto;
  }
  h1 {
  font-size: 40px;
  }
  p {
  font-size: 20px;
  }
  ul.nav-bar {
  display:flex;
  flex-direction:column;
  }
  .sources{
    width:400px;
  }
}

